.black {
  color: black
}

.not-allowed {
  cursor: not-allowed;
}

.bead-container {
  width: 3em;
  min-height: 4em;
  line-height: 0.75em;
  white-space: pre-line;
}

.bead-container .glyphicon {
  transition: transform 1s ease-in-out;
  z-index: 25;
}

@media (min-width: 768px) {
  .end-hole {
    height: 13em;
  }
}

@media (max-width: 767px) {
  .bead-container {
    width: 6em;
    min-height: 2em;
  }

  .end-hole .bead-container {
    width: 14em;
  }
}
